<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Такої сторінки не існує</title>
</head>
<body>
    <div class="error-wrapper">
    <h1><%= errorStatus %> - <%= message %></h1>
<div>
<% if (errorStatus === 404) { %>
    Такої сторінки не існує!
<% } %>
    </div>
</div>
</body>
</html>